/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Bai Jamjuree', -apple-system, Roboto, Helvetica, sans-serif;
  background: #F9F9FC;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
  border: none;
  outline: none;
}

select {
  font-family: inherit;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
